body {
    background-color:rgb(0, 0, 0);
}

.marquee {
			/* border: 2px solid red ;
      background-color: rgb(255, 133, 133); */
			display: flex ;
			overflow: hidden ;
			white-space: nowrap ;
			width: 1400px ;
		}
		.marquee__item {
      font-family: helvetica;
      font-weight: bold;
      color:white;
      font-size: 60px;
			animation-duration: 16s ;
			animation-iteration-count: infinite ;
			animation-name: marquee-content ;
			animation-timing-function: linear;
			padding: 5px 15px 5px 15px ;
		}
		.marquee:hover .marquee__item {
			animation-play-state: paused ;
		}

@keyframes marquee-content {
	/* Element one fully ON screen at left-edge of container. */
	from {
		transform: translateX( 0% );
	}
	/* Element one fully OFF screen (just beyond left-ledge of container). */
	to {
		transform: translateX( -100% );
	}
}



h3 {
    font-family:helvetica;
    color:white;
    text-align:center;
    padding:30px;
    margin-bottom:0px;
}

h1 {
    font-family:Impact;
    font-size: 75px;
    letter-spacing: 4px;
    color:rgb(255, 255, 255);
    text-align:left;
    overflow-wrap: break-word;
    padding:20px;
    margin-top:0px;
}

p {
    font-family:helvetica;
    color:white;
    text-align:center;
    margin-bottom:60px;
}

a {
    color:rgb(179, 179, 179);
    text-decoration:none;
}

a:hover {
    color:rgb(255, 255, 255);
}

