body {
    background-color:rgb(0, 0, 0);
    cursor: url("cursor.png"), auto;
}

.marquee {
			display: flex ;
			overflow: hidden ;
			white-space: nowrap ;
			width: 1400px ;
		}
		.marquee__item {
      font-family: helvetica;
      font-weight: bold;
      color:white;
      font-size: 60px;
			animation-duration: 16s ;
			animation-iteration-count: infinite ;
			animation-name: marquee-content ;
			animation-timing-function: linear;
			padding: 5px 15px 5px 15px ;
		}
		.marquee:hover .marquee__item {
			animation-play-state: paused ;
		}

@keyframes marquee-content {
	from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
	}
}

.marquee2 {
			display: flex ;
			overflow: hidden ;
			white-space: nowrap ;
			width: 1400px ;
		}
.marquee__item2 {
      font-family: helvetica;
      font-weight: bold;
      color:white;
      font-size: 60px;
			animation-duration: 16s ;
      animation-direction: reverse;
			animation-iteration-count: infinite ;
			animation-name: marquee-content2 ;
			animation-timing-function: linear;
			padding: 5px 15px 5px 15px ;
		}
		.marquee2:hover .marquee__item2 {
			animation-play-state: paused ;
		}

@keyframes marquee-content2 {
	from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
	}
}

h3 {
    font-family:helvetica;
    color:white;
    text-align:center;
    padding:30px;
    margin-bottom:0px;
}

h1 {
    font-family:Impact;
    font-size: 75px;
    letter-spacing: 4px;
    color:rgb(255, 255, 255);
    text-align:left;
    overflow-wrap: break-word;
    padding:20px;
    margin-top:0px;
}

p {
    font-family:helvetica;
    color:white;
    text-align:center;
    margin-bottom:60px;
}

a {
    color:rgb(179, 179, 179);
    text-decoration:none;
}

a:hover {
    color:rgb(255, 255, 255);
}

